[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stJoincount"]
	path = stJoincount
	url = https://github.com/cohccc/stjoincount
